{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/search.css' %}">
</head>
<body>
    <form action="{% url 'search' %}" id="searchform">
        <input type="text" name="search" placeholder="Search...">
        <input type="submit">
    </form>
    <h1>Here are your results:</h1>
    {% for result in results %}
    <h2>{{result.title}}</h2>
    <p>{{result.summary}}</p>
    <p>File location in the server: {{result.destination}}</p>
    {% endfor %}
</body>
</html>